services:
  # PostgreSQL Database
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data  # persistent storage

  # Redis
  redis:
    image: redis:7
    container_name: focus-bear-redis
    restart: always
    ports:
      - "6379:6379"

  # NestJS Application
  app:
    build: .
    container_name: nest_app
    restart: always
    ports:
      - "3000:3000"               # expose NestJS on localhost:3000
    depends_on:
      - db
    env_file:
      - .env
    #volumes:
    #  - .:/usr/src
    #  - ./public:/usr/src/app/public 
    #command: npm run start:dev

volumes:
  postgres_data:
